h2{
    color: teal;
    text-align: center;
}
#food{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.Lorem{
    background-color: aqua;
    text-align: center;
}
h3{

    text-align: center; 
    text-decoration: dotted; text-decoration-line: underline;
}
